.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

nav {
  font-size: 1.05em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;

  a#home {
    flex: 3;
    margin-top: 30px;
    color: #ececec;

    strong {
      color: #fff;
    }
  }

  ul {
    display: flex;
    flex: 2;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-top: 30px;
    }
  }
}

header#description {
  line-height: 1.4em;
  display: flex;
  align-items: center;
  flex: 4;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ececec;

  h1 {
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing: 1.2px;
  }

  h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    letter-spacing: -1.5px;
    word-spacing: 5px;

    &:hover + p {
      height: 30%;
      padding-top: 10px;
    }
  }

  p {
    font-size: .65em;
    display: block;
    overflow: hidden;
    max-width: 375px;
    height: 0;
    margin: 0;
    padding: 0;
    transition: 400ms height cubic-bezier(.35, 1.64, .41, .7), 100ms padding-top;

    &:hover {
      height: 30%;
      padding-top: 10px;
    }
  }

  #name {
    font-size: 1em;
    font-weight: bold;
  }

  #title {
    color: var(--light);
  }
}

main#me {
  display: flex;
  align-items: center;
  flex: 5;
  justify-content: center;
  height: 65vh;

  svg {
    height: 100%;
  }
}
