.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav {
  font-size: 1.05em;
  padding: 0 10%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  a#home {
    color: #ececec;
    flex: 3;

    strong {
      color: #fff;
    }

    @media all and (max-width: 700px) {
      display: none;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 2;
    justify-content: space-around;
  }
}

main#me {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
  margin-top: 30px;

  svg {
    height: 100%;
  }
}

header#description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.4em;
  color: #ececec;
  flex: 2;

  h1 {
    font-size: 2.2em;
    letter-spacing: 1.2px;
    font-weight: normal;
  }

  h2 {
    font-size: 1.5em;
    letter-spacing: -1.5px;
    word-spacing: 5px;
    font-weight: normal;

  }

  #name {
    font-size: 1em;
    font-weight: bold;
  }

  #title {
    color: var(--light);
  }
}