
nav {
  margin: 5% 10% 0 10%;
  display: flex;
  justify-content: space-between;
  font-size: 1.05em;

  a#home {
	color: #ececec;

	strong {
	  color: #fff;
	}
  }

  ul {
	list-style-type: none;
	margin: 0;
	display: flex;

	li {
	  margin: 0 20px;
	}
  }
}