body {
  color: #fff;
  background-color: var(--background);
  margin: 0;
  overflow: hidden;
  font-family: monospace, serif;
  font-size: 0.85em;
}

a {
  text-decoration: none;
  color: #fff;
  transition-duration: 500ms;

  &:hover {
    letter-spacing: 1.2px;
    @include scale(1.02);
    color: var(--light) !important;
    text-transform: capitalize;
  }
}