img.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(var(--shadow-color), 0.15);
    transition: transform 0.3s ease;

    @include hover {
        transform: scale(1.05);
    }
}